<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/AdminRegistration.css}" rel="stylesheet" />
    <title>Student Register</title>
</head>
<body>
<div class="container">
    <div class="title">Registration</div>
    <div class="content">
        <form th:action="@{/process_register}" method="post" th:object="${student}">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name"  name="name" required />
                </div>

                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your email"  name="email" required />
                </div>

                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="text" placeholder="Enter your password"  name="password"  required autofocus="autofocus"/>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="text" placeholder="Confirm your password" required />
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Register" />
            </div>
        </form>
        <br>
        <form th:action="@{/upload}" th:method="post" enctype="multipart/form-data">
            <div class="input-box">
                <span class="details">UPLOAD</span>
                <input type="file" accept=".xlsx " th:name="file"  required autofocus="autofocus"/>
                <br>
                <input value="upload file" type="submit" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
</body>
</html>
